<div class="row top-menu">
	<div class="col-md-3">
		<a href="{{url_for('showGenre')}}" class="btn btn-info btn-lg">
			<span class="glyphicon glyphicon-film"" aria-hidden="true"></span>All Movie Genres
		</a>
	</div>
	<div class="col-md-6 text-center">
		<h1>Favorite Movies Database</h1>
	</div>
	<div class="col-md-3 text-right">
					<p>
						<img src="{{currentUserPhoto}}" 
							style = "width: 75px; 
							height: 75px;border-radius: 150px;
							-webkit-border-radius: 150px;
							-moz-border-radius: 150px;"
						> | 
						<a href="/disconnect" 
                            class="btn btn-info btn-lg"
                            data-toggle="tooltip" 
                            title="Click to log off."
>
							<span class="glyphicon glyphicon-user" 
                                aria-hidden="true">
                            </span>
                            Logoff
						</a>
					</p>
	</div>
</div>


