{% extends "main.html" %}
{% block content %}
{% include "loggedOnHeader.html" %}


<div class="row divider gold">
	<div class="col-md-12"></div>
</div>


<div class = 'flash'>
		      {% with messages = get_flashed_messages() %}
      {% if messages %}
          
        <ul>
        {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}

</div>


		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-4">
				<h2>{{user_id}}</h2>

			</div>
			<div class="col-md-4">
				<h2>{{movie_id}}</h2>

			</div>
			<div class="col-md-1"></div>
			<div class="col-md-4">
				<h2>{{rating}}</h2>

			</div>
			<div class="col-md-1"></div>
		</div>

{% endblock %}
